<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animal Care Center</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>
  <header>
    <h1>Welcome to Animal Care Center </h1>
  </header>

  <main>
    <section class="category doctor">
      <h2>Doctors</h2>
      <p>Find information about our doctors here.</p>
      <br>
      <br>
      <form method="get" action="/all_doctor_list">
        <button>Search doctor</button>
      </form>
    </section>

    

    <section class="appointment">
      <h2>Appointment</h2>
      <form method="get" action="/all_appointments">
        <br>
        <br>
        <button>All Appointment Information</button>
      </form>
    </section>
   
    <section class="category lab_tests">
      <h2>Lab Test</h2>
      <p>All information about Test</p>
      <form method="get" action="/lab_tests/home">
        <br>
        <br>
        <button>Test Information</button>
      </form>
    </section>

  </td>
    
  </main>

  <footer>
    <p> All rights reserved to bracu medical center.</p>
  </footer>
</body>
</html>
